.Backup-container {
  width: 100%;
  height: 100%;
  background-color: #1d1d1b;
  display: flex;
  flex-direction: column;
}

.Backup-header {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  width: 100%; 
  padding: 15px 20px; 
}

.Backup-title {
  width: 100%;
  font-size: 2rem;
  font-weight: 800;
  text-align: center; 
  margin: 0;
  color: #f2f2f2;
  position: relative;
}

.Backup-container h1{
    color: #f2f2f2;
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
    text-align: center; /* Centra el texto del t�tulo */
}

.Backup-actions {
  position: absolute;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.Backup-table-container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border-top: 3px solid #818181;
    border-bottom: 3px solid #818181;
    margin-bottom: 15px;
    border-radius: 5px;
}

.Backup-table{
    width: 100%;
    height: auto; /* Ajustar la altura de la tabla al contenido */
    color: #f2f2f2;
    border-collapse: collapse;
    text-align: center;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #44cfe2 #1d1d1d;
    table-layout: fixed; /* Mantener un diseño consistente */
}

.Backup-table th,
.Backup-table td {
    border-top: 3px solid #343434;
    border-bottom: 3px solid #343434;
    font-size: 1.5ch;
    padding: 5px;
    height: auto;
    min-height: 50px; /* Altura mínima para las celdas */
    vertical-align: middle; 
}

.Backup-table th {
    background-color: #2a3176;
    border: 0px solid #2a3176;
    font-weight: bold;  
    position: sticky;
    top: 0;
}

.Backup-btn {
  border: 3px solid #818181;
  padding: 6px 12px;
  color: #f2f2f2;
  background: #1d1d1b;
  cursor: pointer;
}

.Backup-btn:hover {
  background-color: #2a3176;
}

.link {
  background: none;
  border: none;
  color: #f2f2f2;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
}

