.sidebar {
  width: 210px;
  background-color: #1d1d1b;
  border-right: 3px solid #343434
;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  background: #1d1d1b;
  width: 80px;
}

.collapse-btn {
  background: none;
  border: 3px solid #818181;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-end;
  color: #f2f2f2;
  width: 45px;
}

.collapse-btn:hover {
  background-color: #2a3176;
}

.collapsed .collapse-btn {
  width: 45px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.nav-button {
  background: none;
  border: 3px solid #818181;
  padding: 1rem 0.8rem; 
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem; 
  overflow: hidden;
  white-space: nowrap;
  text-align: left; 
  transition: color 0.3s ease, background-color 0.3s ease;
  color: #f2f2f2;
  height: 60px; 
}

.nav-button:hover {
  background-color: #2a3176;
}

.nav-button.active {
  background-color: #44cfe2;
  color: white;
  border: 3px solid #44cfe2;
}

.collapsed .nav-button {
  text-align: center;
  padding: 1rem 0.5rem;
  font-size: 0.8rem;
}

.nav-button .button-text {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-button .button-text {
  opacity: 1; 
  text-align: center; 
}

.nav-button.expanding .button-text {
  opacity: 1;
}
