.feature-container h2{
    color: #f2f2f2;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    padding:0.5rem;
}

.tabs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tab-list {
  display: flex;
  width: 100%;
  overflow: hidden;
}



.tab {
  flex: 1;
  background-color: #1d1d1d;
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  color: #f2f2f2;
  text-align: center;
  border-top: 3px solid #818181;
  border-bottom: 3px solid #818181;
  border-radius: 5px;

  transition: background-color 0.2s ease, border-color 0.2s ease;
}


.tab:last-child {
  margin-right: 0;
}

.tab:hover {
  background-color: #2a3176;
}


.tab.active {
  background-color: #44cfe2;
  color: white;
  border: 3px solid #44cfe2;
}

.tab-content {
  padding-top: 30px;
  border-top: none;
  border-radius: 0 0 8px 8px;
  flex: 1;
  overflow-y: auto;
}

.tab-panel {
  height: 100%;
  border-top: 3px solid #818181;
  border-bottom: 3px solid #818181;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.error-table{
    width: 100%;
    height: 90%;
    color: #f2f2f2;
    border-collapse: collapse;
    text-align: center;
}

.error-table th,
.error-table td {
    border-top: 3px solid #343434;
    border-bottom: 3px solid #343434;
    padding: 5px;
}

.error-table th{
  background-color: #2a3176;
  border: 0px solid #2a3176;
  font-weight: bold;  
  position: sticky;
  top: 0;
}

.error-table th:first-child {
  width: 60px; 
}


.error-table-scroll {
  height: 68vh;
  overflow-y: auto;
}




